# coding: utf-8

"""
    Teamscale REST API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)  # noqa: E501

    The version of the OpenAPI document: 6.1.2
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from openapi_client.api_client import ApiClient
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class DashboardsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def import_file(self, teamscale_version_container, **kwargs):  # noqa: E501
        """Post a dashboard or a dashboard template  # noqa: E501

        Performs an import of a dashboard or a dashboard template. Redirects to the templates overview page or the last edited dashboard. Adds the uploaded descriptor to the list of dashboards/templates. The descriptor must be packaged within an XML Teamscale Version Container. This service is public API since Teamscale 5.8. The API requires no permissions  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.import_file(teamscale_version_container, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param TeamscaleVersionContainer teamscale_version_container: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.import_file_with_http_info(teamscale_version_container, **kwargs)  # noqa: E501

    def import_file_with_http_info(self, teamscale_version_container, **kwargs):  # noqa: E501
        """Post a dashboard or a dashboard template  # noqa: E501

        Performs an import of a dashboard or a dashboard template. Redirects to the templates overview page or the last edited dashboard. Adds the uploaded descriptor to the list of dashboards/templates. The descriptor must be packaged within an XML Teamscale Version Container. This service is public API since Teamscale 5.8. The API requires no permissions  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.import_file_with_http_info(teamscale_version_container, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param TeamscaleVersionContainer teamscale_version_container: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(list[str], status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'teamscale_version_container'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method import_file" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'teamscale_version_container' is set
        if self.api_client.client_side_validation and ('teamscale_version_container' not in local_var_params or  # noqa: E501
                                                        local_var_params['teamscale_version_container'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `teamscale_version_container` when calling `import_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'teamscale_version_container' in local_var_params:
            body_params = local_var_params['teamscale_version_container']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/dashboards', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
