# Put this file in your home directory and modify the entries to your needs.

# Options in the 'teamscale' section are mandatory.
[teamscale]
url: https://your-teamscale-url:your-port
username: your-username
access_token: your-access-token

# The project id is optional.
[project]
id: id-of-your-teamscale-project (optional)